<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483002032406-3nrl80gt7npk98r4pt3bs6pm466rvi0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483002032406-3nrl80gt7npk98r4pt3bs6pm466rvi0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483002032406-8kphtqhn9ht5gruv6e4ijft6smbghb6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqMdXWxlHn2rHZqR5d9bY1QefVo4CrO0c</string>
	<key>GCM_SENDER_ID</key>
	<string>483002032406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.galonku</string>
	<key>PROJECT_ID</key>
	<string>galonku-afe22</string>
	<key>STORAGE_BUCKET</key>
	<string>galonku-afe22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483002032406:ios:79dfbe582f2f4c3b923037</string>
	<key>DATABASE_URL</key>
	<string>https://galonku-afe22-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>